<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Searches

    <a data-toggle="collapse" href="#price_searches_new_form">
      Add search
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @price.searches.each do |search| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to search, search %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to search, method: :delete, data: { confirm: "Do you really want to delete this search" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="price_searches_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
