<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Searches

    <a data-toggle="collapse" href="#item_searches_new_form">
      Add search
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @item.searches.each do |search| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to search, search %>

        <%= link_to search, method: :delete, data: { confirm: "Do you really want to delete this search" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="item_searches_new_form">
        <%= render partial: "items/item_searches_new_form" %>
      </div>
    </div>

  </ul>
</div>
